<div class="gridConteiner">
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Беговые дорожки',
    className: 'gridConteiner-elemFirst productItem-tall productItem-imgHomeFitFirst productItem-imgDarKBackGround productItem__p-whiteText'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Эллиптические тренажеры',
    className: 'gridConteiner-elemSecond productItem-tall productItem-imgHomeFitSecond'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Велотренажеры',
    className: 'gridConteiner-elemThird productItem-small productItem-imgHomeFitThird'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Горнолыжные тренажеры',
    className: 'gridConteiner-elemFourth productItem-small productItem-imgHomeFitFourth'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Силовые тренажеры',
    className: 'gridConteiner-elemFifth productItem-small productItem-imgHomeFitFifth'
}) %>          
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Гребные тренажеры',
    className: 'gridConteiner-elemSixth productItem-small productItem-imgHomeFitSixth'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Батуты',
    className: 'gridConteiner-elemSeventh productItem-imgHomeFitSeventh'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Игровые столы',
    className: 'gridConteiner-elemEighth productItem-imgHomeFitEighth'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Массажные кресла',
    className: 'gridConteiner-elemNinth productItem-imgHomeFitNinth'
}) %>
<%- include("src/components/productItem/productItem.ejs", {
    title: 'Фитнес аксессуары',
    className: 'gridConteiner-elemTenth productItem-imgHomeFitTenth'
}) %>
</div>