<div class="gridConteiner">
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>          
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
    <%- include("src/components/productItem/productItem.ejs") %>
</div>
        